<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'cart/nav.html' %}
    <title>Document</title>
    <style>
        .blk{
            display: flex;
            justify-content: left;
            column-gap: 20px;
        }
        .block{
            overflow: hidden;
        }
        .lo{
            float: right;
        }
        .exp{
            float: left;
        }
    </style>
</head>
<body>
    {% block content %}
{% if not request.user.is_authenticated %}
    <div class="blk">
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
</div>
{% else %}
<div class="block">
<a href="{% url 'publish' %}" class="exp">Explore</a>
<a href="{% url 'logout' %}" class="lo">Logout</a>
</div>
{% endif %}
    <h1>PerfectBuy</h1>
    <p>Get the best products from anywhere around the world</p>
    {% endblock %}
</body>
</html>